.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  border-style: solid;
  border-color: seagreen;
  border-top-width: 4px;
  border-left-width: 4px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 25%;
  border-style: solid;
  border-color: seagreen;
  border-top-width: 4px;
  border-right-width: 4px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  border-style: solid;
  border-color: seagreen;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 25%;
  border-style: solid;
  border-color: seagreen;
  border-top-width: 0px;
  border-right-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 0px;
}
