.container {
  box-sizing: unset;
  padding-top: calc(var(--pad-top) * 0.5rem);
  padding-right: calc(var(--pad-right) * 0.5rem);
  padding-bottom: calc(var(--pad-bottom) * 0.5rem);
  padding-left: calc(var(--pad-left) * 0.5rem);
}
