.wrapper {
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: white;

  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.row {
  flex: 1;
  display: flex;

  border-bottom-style: solid;
  border-bottom-color: gray;
}

.topClues {
  position: absolute;
}

.leftClues {
  position: absolute;
}
