.container {
  flex: var(--flex);
  display: flex;
  flex-direction: var(--direction);
  justify-content: var(--main);
  align-items: var(--cross);
}

.row {
  & > * + * {
    margin-left: calc(var(--spacing) * 1rem);
  }
}

.column {
  & > * + * {
    margin-top: calc(var(--spacing) * 1rem);
  }
}
