.container {
  position: absolute;
  display: flex;
}

.cluesInRow {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

.cluesInColumn {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.clue {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
