@import "../../../styles/breakpoints";

.container {
  box-sizing: border-box;
  width: calc(var(--xs) / 12 * 100%);
  margin-left: calc(var(--offset-xs) / 12 * 100%);

  @include media-breakpoint-only(sm) {
    width: calc(var(--sm) / 12 * 100%);
    margin-left: calc(var(--offset-sm) / 12 * 100%);
  }

  @include media-breakpoint-only(md) {
    width: calc(var(--md) / 12 * 100%);
    margin-left: calc(var(--offset-md) / 12 * 100%);
  }

  @include media-breakpoint-only(lg) {
    width: calc(var(--lg) / 12 * 100%);
    margin-left: calc(var(--offset-lg) / 12 * 100%);
  }

  @include media-breakpoint-only(xl) {
    width: calc(var(--xl) / 12 * 100%);
    margin-left: calc(var(--offset-xl) / 12 * 100%);
  }
}

.push {
  margin-left: auto;
}
