.Nonogram {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.difficultySelector {
  display: flex;
  flex-direction: column;

  button {
    background-color: whitesmoke;
    padding: 0.5rem 1rem;
    border: none;

    margin-bottom: 1rem;
  }
}
